
body {
  font-family: sans-serif;
    
}
a {
  text-decoration: none;
}

label {
  display: block;
}

.nav a {
  display: inline-block;
 
}
.navBar {
  font-family: fantasy;
  font-size-adjust: inherit;
  /* background-color: #cc8a33; */
}


form div {
  margin: 1em;
  display: inline-block;
}
.textColor {
  text-decoration: none;
  color: hsl(305, 88%, 35%);
}
